.appDiv {
 text-align: center;
 overflow: scroll;
}

.card {
    overflow: scroll;
}
#root > div > div:nth-child(3) > div > div > div:nth-child(2) {
    overflow: scroll;
}

#root > div > div:nth-child(3) > div > div > div:nth-child(2) > div {
    overflow: scroll;
}


#root > div > div:nth-child(3) > div > div > div:nth-child(2) > div > div > div > div > div:nth-child(3) {
    overflow: scroll;
}



pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
    }