$bg: "red";
   body {
    margin: auto 0;
    width: 720px;
    height: 540px;
    background-color: #BDBDBD;
    overflow: scroll;
  }

  .divContainer {
      text-align: center;
  }

  .content-Linksnoteskeys-Putyournoteshere-36084 {
    overflow: scroll
  }




